/* Header used at the begining of each page */
@mixin globalHeader ($customImage, $backgroundColor) {
    display: flex;
    position: relative;
    height: 500px;
    width: 100%;
    background: $customImage, #99e9ff;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;

    h1 {
        color: $clearColor;
        text-align: center;
        vertical-align: middle;
        font-family: $globalFont;
        font-size: 40px;
        font-weight: bold;
        z-index: 1;
    }

    &:before {
        content: "";
        background-color: $backgroundColor;
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
    }
}

@mixin bodyContentMain($textColor, $backgroundColor, $height, $imgWidth) {
    padding: 30px;
    background-color: $backgroundColor;
    display: flex;
    flex-direction: row;
    height: $height;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: $textColor;

    @include globalTexts();

    img {
        height: auto;
        width: $imgWidth;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}

@mixin featuresGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    justify-content: center;
    align-content: center;
    
}

@mixin featuresGridElement() {
    @include globalTexts();
    justify-items: center;
    align-items: center;
    text-align: center;
    
}

/* customText mixin is suposed to be used with the bodyContentMainMixin */
@mixin customText {
    width: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-left: 50px;
    @include globalTexts;
}

/* Fonts */

@mixin globalTexts {
    font-family: $globalFont;

    h1 {
        font-size: 27px;
        font-weight: bold;
    }

    p {
        font-size: 16px;

    }
}