$globalFont: "Montserrat", sans-serif;

/* Header used at the begining of each page */
@mixin globalHeader ($customImage, $backgroundColor) {
    display: flex;
    position: relative;
    height: 500px;
    width: 100%;
    background: $customImage, #99e9ff;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;

    h1 {
        color: $clearColor;
        text-align: center;
        vertical-align: middle;
        font-family: $globalFont;
        font-size: 40px;
        font-weight: bold;
        z-index: 1;
    }

    &:before {
        content: "";
        background-color: $backgroundColor;
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
      }
}